@page
@model AboutModel
@{
	ViewData["Title"] = "About";
}


<div class="text-center aboutBox">
	<div class="aboutDescription">
		<div class="inDescription">
			<a>this is a test description</a>
			<a>this is a test description</a>
			<a>this is a test description</a>
			<a>this is a test description</a>
			<a>this is a test description</a>
		</div>
	</div>
	<div class="aboutImg ">
		<div>
			<img src="../../images/topWoodImg.jpeg" alt="">
		</div>
	</div>
</div>
